<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Citi(ZEN)</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
	<body>
		    <div class="panel panel-default">
        <div class="panel-body">
            <div class="media">
                <div class="media-left">
                </div>
                <div class="media-body text-center">
                    <ul class="list-unstyled fa-ul">
                        <li><i class="fa fa-user fa-li"></i><a href="#"><h2>{{username}}</h2></a></li>
                        <li><i class="fa fa-envelope fa-li"></i><a href="#"><h4>{{useremail}}</h4></a></li>
                    </ul>
                </div>
            </div>
            <hr>
            <h6 class="text-uppercase"><strong>Attending: </strong></h6>
            <div class="media">
                <div class="media-left"><a href="&quot;#&quot;"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x text-primary"></i><i class="fa fa-ticket fa-stack-1x fa-inverse"></i><i class="fa fa-ticket fa-stack-1x fa-inverse"></i></span></a></div>
                <div class="media-body">
                    <p><a href="#"><strong>{{Event Name} </strong><br>
</a><small><em>{{Date}}</em><br>
<small><em>{{location}}</em><br>
                </div>
            </div>
            <hr>
            <h6 class="text-uppercase"><strong>Attended: </strong></h6>
            <div class="media">
                <div class="media-left"><a href="&quot;#&quot;"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x text-primary"></i><i class="fa fa-ticket fa-stack-1x fa-inverse"></i><i class="fa fa-ticket fa-stack-1x fa-inverse"></i></span></a></div>
                <div class="media-body">
                    <p><a href="#"><strong>{{event name}}</strong><br>
</a><small><em>{{date}}</em><br><small><em>{{location}}</em><br>


                </div>
            </div>
        </div>
    </div>
    
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/js.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>